pytorch-lightning
transformers
transformers[agents]
transformers[torch]
openai
fiftyone
timm
datasets
evaluate
python-dotenv
torchsummary
onnx
onnxsim
tf2onnx
onnxruntime
onnxruntime-gpu
statsmodels
scikit-optimize
optuna
micrograd
tqdm
ipykernel
graphviz
ipywidgets
tiktoken